Shared/bin/*
Shared/obj/*
DataReceiverService/bin/*
DataReceiverService/obj/*
DataWriterService/bin/*
DataWriterService/obj/*
UnitySampleProject/Build
UnitySampleProject/Library
UnitySampleProject/Logs
UnitySampleProject/Temp
UnitySampleProject/UserSettings
